
.side
  .side__side-header
    .side__side-header__side-box
      %p masa 
      
    .side__side-header__side-icon
      = link_to "#", class: "icon1" do
        %i.fa.fa-edit
       
      = link_to "#", class: "icon2" do
        %i.fa.fa-cog

  .side__side-contents
    .side__side-contents__groups
      .side__side-contents__group-name
        %p tech camp
      .side__side-contents__group-message
        %p まだメッセージがありません
